 <div class="navbar navbar-inverse navbar-static-top">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to "Home", root_path %></li>   
          <li>
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %>. Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              <% else %>
              <%= link_to "Sign up", new_user_registration_path %>
             <% end %>
          </li>
      </div>
    </div>
  </div>